<html ng-app
='emailer'
>
    <head>
        <title>Angular Email</title>

        <!-- JQuery -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <!-- AngularJS -->
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>
        <script src='js/Controllers/EmailController.js'></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->

        <script src='js/scripts.js'></script>

        <link rel='stylesheet' href='css/styles.css'></link>
    </head>
    <body  ng-controller='EmailController'>


<!-- inbox table -->
        <div id='email_container' class='container'>
    <!-- nav -->
            <ul class='nav nav-tabs'>
                <li ng-class='{ active: activeTab=="inbox" }'>
                    <a ng-click='activeTab = "inbox"'>Inbox</a>
                </li>
                <li ng-class='{ active: activeTab=="sent" }'>
                    <a ng-click='activeTab = "sent"'>Sent</a>
                </li>
            </ul>
            <br />

            <table class='table table-bordered table-condensed' ng-show='activeTab=="inbox"'>
                <tr ng-repeat='email in emails' ng-click='showEmail(email)'>
                    <!-- note that email is what is called in the ng-repeat and is also passed into the showEmail function -->
                    <td>{{ email.from }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.date }}</td>
                </tr>
            </table>
            <table class='table table-bordered table-condensed' ng-show='activeTab=="sent"'>
                <tr ng-repeat='email in sentEmails' ng-click='showEmail(email)'>
                    <!-- note that email is what is called in the ng-repeat and is also passed into the showEmail function -->
                    <td>{{ email.from }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.date | date: 'MMM d' }}</td>
                </tr>
            </table>
            <button class='btn btn-primary' ng-click='showComposeEmail()'>Compose</button>
        </div>

<!-- show email -->
        <div ng-show='isEmailVisible'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' ng-click='closeEmail()'>x</button>
                        <h3>{{ selectedEmail.subject }}</h3>
                    </div>

                    <div class='modal-body'>
                        <p>
                            <span class='email_fields'>From:</span> {{ selectedEmail.from }}
                            <br />
                            <span class='email_fields'>Date:</span> {{ selectedEmail.date | date: 'MMM d' }}
                            <br />
                            <br />
                        </p>

                        <p>
                            {{ selectedEmail.body }}
                        </p>
                    </div>

                    <div class='modal-footer'>
                        <a href='#' class='btn' ng-click='forward()'>Forward</a>
                        <a href='#' class='btn' ng-click='reply()'>Reply</a>
                        <a href='#' class='btn btn-primary' ng-click='closeEmail()'>Close</a>
                    </div>
                </div>
            </div>
        </div>

<!-- compose email -->
        <!-- <div ng-show='isEmailVisible'> -->
        <div ng-show='isComposeEmailVisible'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' ng-click='closeComposeEmail()'>x</button>
                        <h3>Compose Email</h3>
                    </div>

                    <div class='modal-body'>
                        <form>
                            <input id='compose_to' ng-model='composeEmail.to' type='text' placeholder='To'>
                            <br />
                            <input id='compose_subject' ng-model='composeEmail.subject' type='text' placeholder='Subject'>
                            <br />
                            <br />

                            <textarea id='compose_body' ng-model='composeEmail.body' rows='10'></textarea>
                        </form>
                    </div>
                    <div class='modal-footer'>
                        <a href='#' class='btn' ng-click='closeComposeEmail()'>Close</a>
                        <a href='#' class='btn btn-primary' ng-click='sendEmail()'>Send</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
